.form {
	display: flex;
	flex-direction: column;
	margin: 0 30px;
	width: 240px;
	height: 200px;
}
.messageForm {
	margin: 0 auto;
}
input {
	margin: 5px 0;
}
button,
.deleteButton {
	margin-top: 20px;
	background-color: black;
	border-radius: 0;
	color: white;
	border: 0;
	padding: 8px 0;
	font-size: 14px;
}
.deleteButton {
	margin-top: 10px;
	background-color: red;
}
.errorMessage {
	margin-top: 10px;
	color: red;
	font-size: 14px;
}
.messageList {
	margin: 0 30px;
	padding: 20px;
	width: 240px;
	height: 200px;
	overflow: auto;
	border: 1px solid white;
}
.messageList > div {
	cursor: pointer;
	font-size: 19px;
}
.selectMessage {
	font-size: 16px;
	margin-bottom: 20px;
}
